* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    bottom: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.cont {
    background-color: rgba(0, 0, 0, 0.5);
}

.contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

header {
    width: 100%;
    height: 200px;
    background-image: url(../img/pituca.jpg);
    position: relative;
}

#qrcode img {
    width: 40%;
}

.navbar-nav {
    position: relative;
    left: 45%;
    transform: translatex(-50%);
}

.logo {
    margin: 15px 0px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.logo img {
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menudiv {
    display: block;
    margin: 15px 0px;
}

.limpiar {
    clear: both;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-space-around;
    max-width: 450px;
    margin: auto;
}

a {
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin: 0px 8px;
    padding: 3px;
    transition: all 0.8s ease-in-out;
}

.menu a:hover {
    color: white;
    padding: 5px 20px;
    background-color: black;
}


/*fin encabezado*/


/*banner*/

.banner {
    width: 100%;
    height: 500px;
    background-image: url("http://exuberant-invention.surge.sh/css/../img/guitarrasbanner.jpg");
    background-position: center;
    background-size: cover;
}

.banner>div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.cambio {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cambio p {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cambio h2 {
    font-size: 42px;
    color: #555555;
    font-weight: lighter;
    width: 100%;
    max-width: 470px;
    padding: 45px 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.cambio a {
    padding: 10px 50px;
    font-size: 18px;
    text-decoration: none;
    color: #555555;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 35px;
    transition: all 0.5s ease-in-out;
}

.cambio a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
}


/*fin banner */


/* comienzo galeria*/

.clearfix {
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    background-color: #193441;
    color: white;
}

.galeria {
    width: 100%;
    background-color: #5a5a5a;
    padding-bottom: 20px;
    text-align: center;
}

.slide {
    position: relative;
    width: 450px;
    height: 300px;
    left: 50%;
    transform: translatex(-50%);
}

.slide h5 p {
    color: #000;
}

.galeria>.contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria p {
    color: #ffffff;
    max-width: 400px;
    padding: 10px;
    margin: auto;
}

.imgal {
    width: 100%;
    max-width: 740px;
    margin-bottom: 20px;
}

.imgal img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.imgal img:hover {
    transform: scale(1.1);
}

.titlediv {
    background-color: black;
    text-align: center;
}

.titlediv p {
    font-size: 20px;
    color: white;
    padding: 5px 0px;
}

.top-line,
.bottom-line {
    height: 25px;
    background-color: #193441;
    color: #5a5a5a;
    text-align: center;
    font-size: 12px;
}

.bottom-line p {
    font-size: 12px;
    padding: 1px 0;
}

.general {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.marcas {
    background-color: #193441;
    color: white;
}

.marcas .widget {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 33px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.widget:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #353535;
}

.widget h4 {
    font-size: 20px;
    padding-bottom: 35px;
}


/*inicio seccion clientes*/

.clientes {
    background-color: #152d37;
    color: #9a9a9a;
}

.center-clientes>.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cliente {
    width: 470px;
    max-width: 470px;
    margin-bottom: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.02);
}

.cliente p {
    margin: 10px 15px;
    line-height: 1.5em;
}

.fotopituca {
    width: 45%;
}

.fotopituca img {
    position: relative;
    left: 25%;
    width: 200%;
}

.col-md-6 {
    width: 80%;
}

span {
    font-weight: bold;
}

.fotopituca p {
    position: relative;
    left: 25%;
    width: 200%;
}

.foto-cliente {
    width: 100%;
}

.foto-cliente iframe {
    width: 100%;
}

.foto-cliente img {
    width: 100%;
}


/*fin seccion clientes*/


/*inicio seccion footer*/

.footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer>div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


/* fin seccion footer*/


/*mediaqueries*/

@media all and (min-width:769px) {
    .menudiv {
        float: right;
        margin: 15px 0px;
    }
    #qrcode img {
        width: 10%;
    }
    .col-md-6 {
        width: 30%;
    }
    .fotopituca img {
        position: relative;
        left: 50%;
        width: 100%;
    }
    .fotopituca p {
        position: relative;
        left: 50%;
        width: 100%;
    }
    .menu {
        padding-top: 60px;
    }
    .menu a {
        font-size: 14px;
        margin: 0px 13px;
    }
    .logo {
        float: left;
    }
    .cambio p {
        font-size: 18px;
    }
    .galeria>.contenedor {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .imgal {
        width: 100%;
        max-width: 370px;
        height: 190px;
        margin-bottom: 20px;
    }
    .imgal img {
        width: 100%;
        max-height: 190px;
    }
    .titlediv {
        background-color: black;
        text-align: left;
        padding-left: 5px;
    }
    .center-marcas>.contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .marcas .widget {
        text-align: center;
        padding-top: 18px;
        padding-bottom: 33px;
        max-width: 262px;
        margin: 0 auto;
    }
    .center-clientes>.contenedor {
        justify-content: space-between;
    }
}